.list {
    padding-left: 0;
    border: 1px solid #efefef;
   width: 300px;
    height: 600px;
}

input {
    padding:1em;   
    width:200px;
}


button{
    border: 1px solid grey; 
    background-color: #efefef;
    width: 75px;
    height: 40px;
    outline-color: lightgray;
    
}

button:active{
    outline-color: #efefef;    
}

li {
    list-style-type: none;   
    background-color: #efefef;
    padding: 1em;
    font-family: 'Helvetica', Helvetica, 'Arial', Arial, sans-serif;
    text-transform: capitalize;
}

ul {
     width:95%;
    margin: .5em auto 0;
}

a {
    float:right;
    color: gray;
    text-decoration: none;
    font-weight: bold;
    padding:0;
}

.center-page{
    margin: 0 auto 0;
    margin-left: 50px;
    width: 100%;
    text-align: center;
    
}

.title {
    font-family: 'Helvetica', Helvetica, 'Arial', Arial, sans-serif;
    font-weight: lighter;
    letter-spacing: .3em;
    text-align: center;
}