.list {
    padding-left: 0;
    border: 1px solid black;
    height: 300px;
    width: 200px;
}

input {
    padding:1em;   
    background-color: red;
}

li {
    list-style-type: none;   
    background-color: yellow;
    padding: 1em;
}

a {
    margin-left: 40px;
    color: maroon;
    text-decoration: none;
    font-weight: bold;
}